
venv
*/venv/
**/venv/
__pycache__/
*/__pycache__/
**/__pycache__/
*.cmd
scenarios.json
.env*
*/.env*/
**/.env*/
**/.env*/
.vscode/
node_modules/
*/node_modules/
**/node_modules/
logs/
*/logs/
**/logs/
service_key.json
*/service_key.json
**/service_key.json
context_service_key.json
Rejara-Automation/
Rejara-AI-v2/
TECHNICAL_DESIGN_DOCUMENT.md
