Port=

OPENAI_API_KEY=
 
Langsmith= 

PROJECT_ID=
DB_CURRENT = 

middle_tire_data_url=
middle_tire_data_url_second=

Torch_Db_Host=
Torch_Db_Username=
Torch_Db_Password=
Torch_Db_Name=

FLASK_SECRET_KEY=

Sql_DB_NAME=
Sql_DB_USER=
Sql_DB_PASSWORD=
Sql_DB_HOST=
BOOLEAN_EXTRACTION_ITEM_IDS=